@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regras opcionais para o scroll suave */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-stopped {
  overflow: hidden;
}